<div class="card" style="max-width: 100%; height: auto">
    <div class="card-header">Data Binding</div>
    <img
      class="card-img-top"
      [src]="imgUrl"
      alt="Card image"
      style="width: 100%"
      />
      <!-- src="http://shorturl.at/CKLRZ " -->
    <div class="card-body">
      <h4 class="card-title">{{getName()}}</h4>
      <p class="card-text">
        <li>StudentId: {{id}}</li>
        <li>Age: {{2022-year}}</li>
      </p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>